[submodule "Kuuga"]
	path = Kuuga
	url = https://github.com/jonathanrainer/Kuuga
[submodule "Ichijou"]
	path = Ichijou
	url = https://github.com/jonathanrainer/Ichijou.git
[submodule "Thesis"]
	path = Thesis
	url = https://github.com/jonathanrainer/Thesis
